<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>DogTreats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="topbar">
        <div>
            <span>DogTreats </span>
        </div>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Startseite</a>
            <a href="{{ url_for('create_dog') }}">Hund anlegen</a>
            <a href="{{ url_for('plans_all') }}">Abo-Modelle</a>
            <a href="{{ url_for('all_products') }}">Alle Produkte</a>
            <a href="{{ url_for('profile') }}">Profil</a>
            <a href="{{ url_for('cart') }}">Warenkorb</a>

        </nav>
    </header>

    {% if session.username %}
    <div class="login-info">
        Eingeloggt als: <strong>{{ session.username }}</strong>
    </div>
    {% endif %}

<!--Message die auftritt, wenn Abo abgeschlossen wird-->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="max-width:900px; margin: 1rem auto 0; padding: 0 1rem;">
      {% for category, message in messages %}
        <div style="background:#fff; border-radius:0.5rem; padding:0.9rem 1rem; box-shadow:0 2px 6px rgba(0,0,0,0.05); border-left:6px solid #2f855a;">
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bottom-bar">
        <div class="bottom-links">
            <a href="{{ url_for('impressum') }}">Impressum</a>
            <a href="{{ url_for('kontakt') }}">Kontakt</a>
        </div>
    </footer>
</body>
</html>
