{% extends "base.html" %}

{% block content %}
<section>
    <h1>Impressum</h1>

    <p><strong>DogTreats – Abo-Service für natürliche Hundesnacks</strong></p>
    <p>Betreiber der Website:</p>

    <p>
        <strong>DogTreats Web Solutions GmbH</strong><br>
        Musterstraße 12<br>
        12345 Musterstadt<br>
        Deutschland
    </p>

    <p>
        Telefon: +49 (0)123 4567890<br>
        E-Mail: kontakt@dogtreats.de
    </p>

    <p><strong>Geschäftsführer:</strong> Max Mustermann</p>

    <p>
        <strong>Handelsregister:</strong> HRB 123456<br>
        <strong>Registergericht:</strong> Amtsgericht Musterstadt
    </p>

    <p>
        <strong>Umsatzsteuer-Identifikationsnummer:</strong> DE999999999
    </p>

</section>
{% endblock %}
